/* CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

ul {
    list-style: none;
    list-style-position: outside;
}

a {
    outline: none;
}

/* Tell Old Browsers to Read HTML5 Elements */
header, footer, aside, nav, article {
    display: block;
}

/* Essentials */
body {
    background: white;
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

p {
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: lighter; /* Counteract Strong Browser Anti-aliasing*/
}

a:link, a:visited {
    color: #00A0DD;
    text-decoration: none;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

/* Header */
nav {
    padding: 0px 20px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_one {
    background-color: white;
    height: 45px;
    margin: 3px 70px 0;
    margin-bottom: 2px;
}

.left > div + div {
    margin-left: 40px;
}

.right > div + div {
    margin-left: 40px;
}

.left > div:hover, .right > div:hover {
    color: #00A0DD;
    transition: all 0.5s;
}

span {
    font-size: 16px;
    margin-left: 5px;
}

.facebook_navbar img {
    width: 30px;
    margin-top: 5px;
    cursor: pointer;
}

.youtube_navbar img {
    width: 60px;
    margin-top: 5px;
    cursor: pointer;
}

.email {
    cursor: pointer;
}

.call {
    cursor: pointer;
}

.navbar_two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: 200ms ease-in-out;
}

/* Logo */
h1.logo_head a {
    display: block;
    width: 221px;
    height: 50px;
    margin: 20px 0 0 10px;
    text-indent: -5000px;
}

.logo {
    width: 11%;
    margin-left: -310px;
    margin-right: -1400px;
    cursor: pointer;
    /* IE Support */
    cursor: hand;
}

/* Main Navigation */
header ul {
    margin: 35px 0;
}

header li {
    display: inline-block;
    width: 120px;
    margin-right: 70px;
}

header li a {
    display: block;
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
}

header li a:hover, a.active {
    color: #0C4C91;
}

/* Main Feature */
.home_feature {
    background: url(./Images/20191127190639-shutterstock-431848417-crop.jpeg);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.6);
    background-position: 15% 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    display: flex;
    margin: auto;
    width: 100%;
}

.feature_text h1, .feature_text p {
    color: white;
    font-weight: 500;
    text-align: center;
}

.feature_text h1 {
    font-size: 40px;
}

.feature_text p {
    margin-top: 15px;
    font-size: 20px
}

.home_feature button {
    margin-top: 30px;
}

.cta_select#go {
    transition: all 0.1s linear 0s;
    padding: 10px 10px 10px 10px;
    border: 2px solid #0C4C91;
    background: #00A0DD;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    /* IE Support */
    cursor: hand;
}

.cta_select#go:hover {
    transition: all 0.1s linear 0s;
    background-color: #0C4C91;
    border-radius: 4px;
}

/* Service Examples Blurb */
article.services_blurb {
    clear: both;
    float: left;
    width: 620px;
    margin: 75px 10px;
}

.paylo_logo {
    float: left;
    margin: 0 10px 0 0;
    width: 50%;
}

article.services_blurb h1 {
    font-size: 26px;
    color: #168fad;
    margin: 4px 0;
}

article.services_blurb p {
    margin: 5px 20px 0px 0px;
    font-size: 18px;
}

article.paylo_testimony {
    float: right;
    width: 300px;
    margin: 60px 10px;
}

/* Paylo Company Testimony */
.testimony_wrapper {
    border: 1px solid #CDE0E4;
    width: 298px;
    height: 317px;
}

p.testimony {
    text-align: center;
    background: #FFFFFF;
    color: #5E8C92;
    font-style: italic;
    height: 55px;
    border-radius: 5px;
    padding: 30px 20px;
}

p.testimony_name {
    background: #5E8C92;
    margin-top: 172px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}