@import "navbar.css";
@import "social.css";
@import "footer.css";

/* Page Feature */
.page-feature {
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.6);
  background-position: 15% 75%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.about-text h2 {
  margin-top: 140px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

/* Page Feature Mobile */
@media only screen and (max-width: 1398px) {
  .page-feature {
    height: 350px;
  }

  .about-text h2 {
    margin-top: 190px;
  }
}
/* Page Feature Mobile End */

/* About Section */
.about-row {
  padding: 5em 0 0 0;
}

.content-column {
  margin-left: 4em;
}

.image-column {
  margin-left: 3em;
}

.image-column img {
  border: solid 2px #00A0DD;
  width: 100%;
  margin-top: 1em;
}

.content-column h3 {
  margin-top: 15px;
  color: rgb(80, 80, 80);
  text-transform: uppercase;
  font-weight: bold;
}

.content-column h5 {
  margin-top: 13px;
  color: #00A0DD;
  font-weight: bold;
}

.content-column p {
  color: rgb(80, 80, 80);
  padding-right: 100px;
  text-align: justify;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 1.1em;
}

.about-button {
  position: relative;
  width: 18%;
  height: 35px;
  margin-top: 15px;
  padding-top: 6.5px;
  left: 0.6rem;
  background-color: #f9f9f9;
  color: black;
  cursor: pointer;
  /* IE Support */
  cursor: hand;
  transition: all 0.5s;
  z-index: 50;
}

.about-button::before {
  content:"";
  position: absolute;
  top: 0;
  left: -10px;
  width: 5px;
  height: 100%;
  background: #00A0DD;
  z-index: -1;
  transition: all 0.5s;
}

.about-button:hover::before {
  width: 100%;
}

.about-button:hover {
  color: white;
}

.fa-caret-right {
  font-size: 14px;
  padding-left: 5px;
  padding-top: 5.2px;
  position: absolute;
}

/* About Section Mobile */
@media only screen and (max-width: 1398px) {
  .content-column p {
    font-size: 1em;
  }

  .image-column img {
    margin-top: 1.55em;
  }
}

@media only screen and (max-width: 1199px) {
  .about-row {
    padding: 3em 9em 0 9em;
  }
  
  .content-column {
    text-align: center;
    margin: 0;
  }

  .content-column p {
    padding: 0 0 0 1em;
    text-align: center;
  }

  .more-button {
    right: 50%;
    transform: translatex(38%);
  }

  .about-button {
    width: 20%;
    margin-top: 20px;
    padding-top: 6.5px;
    margin-left: 0;
  }

  .about-button::before {
    left: 0px;
  }

  .image-column {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .about-row {
    padding: 4em 4em 0 4em;
  }

  .about-button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 769px) {
  .about-row {
    padding: 3em 0.5em 0 0.5em;
  }

  .about-button {
    margin-left: -20px;
    width: 28%;
  }

  .about-button::before {
    left: 5px;
  }

  .content-column p {
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 418px) {
  .about-button {
    margin-left: -30px;
    width: 40%;
  }

  .about-button::before {
    left: 0px;
  }
}
/* About Section Mobile End */

/* Our Vision Section */
.vision-row {
  padding: 6em 0 0 0;
}

.vision-img {
  margin-left: 4em;
}

.vision-img img {
  border: solid 2px #00A0DD;
  width: 90%;
}

.vision-column {
  margin-left: 60px;
}

.vision-column h3 {
  margin-top: 35px;
  color: rgb(80, 80, 80);
  text-transform: uppercase;
  font-weight: bold;
}

.vision-column p {
  color: rgb(80, 80, 80);
  padding-right: 100px;
  text-align: justify;
  margin-top: 15px;
  line-height: 1.5;
  font-size: 1.1em;
}

/* Vision Section Mobile */
@media only screen and (max-width: 1398px) {
  .vision-row {
    padding: 5em 0 0 0;
  }

  .vision-column h3 {
    margin-top: 15px;
  }

  .vision-column p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1199px) {
  .vision-row {
    padding: 3em 8.5em 0 8.5em;
  }

  .vision-img {
    margin-left: 0;
    right: 50%;
    transform: translatex(28%);
  }

  .vision-img img {
    width: 42%;
    height: 265px;
  }

  .vision-column {
    margin-left: 0;
    text-align: center;
  }
  
  .vision-column h3 {
    margin-top: 45px;
  }
  
  .vision-column p {
    padding: 0;
    text-align: center;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .vision-row {
    padding: 3em 4em 0 4em;
  }

  .vision-img {
    right: 50%;
    transform: translatex(26%);
  }

  .vision-img img {
    width: 45%;
    height: 255px;
  }
}

@media only screen and (max-width: 769px) {
  .vision-row {
    padding: 3em 0.5em 0 0.5em;
  }

  .vision-img {
    right: 50%;
    transform: translatex(24%);
  }

  .vision-img img {
    width: 52%;
    height: 255px;
  }
}

@media only screen and (max-width: 418px) {
  .vision-img {
    right: 50%;
    transform: translatex(20%);
  }

  .vision-img img {
    width: 60%;
    height: 230px;
  }

  .vision-column h3 {
    margin-top: 55px;
  }
}
/* Vision Section Mobile End */

/* Icons Section */
.header-row h2 {
  color: rgb(80, 80, 80);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 16px;
  margin-bottom: 60px;
  position: relative;
}

.header-row h2::after {
  content: '';
  background: #00A0DD;
  width: 250px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.icons-row {
  padding: 0 6em 0 6em;
}

.info-column {
  z-index: 50;
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 30px;
  cursor: pointer;
  /* IE Support */
  cursor: hand;
  background: transparent;
  transition: transform 0.5s, background-color 0.5s;
}

.info-column i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #0e76a8;
}

.info-column h4 {
  margin-bottom: 8px;
  font-weight: bold;
}

.info-column p {
  color: rgb(80, 80, 80);
  line-height: 1.5;
  font-size: 1.2em;
}

.info-column:hover {
  background: #0e76a8;
  transform: scale(1.05);
  color: rgba(255,255,255);
}

.info-column:hover i {
  color: white;
}

.info-column:hover p {
  color: white;
}

/* Icons Section Mobile */
@media only screen and (max-width: 1199px) {
  .icons-row {
    padding: 0 14em 0 14em;
  }
}

@media only screen and (max-width: 991px) {
  .icons-row {
    padding: 0 10em 0 10em;
  }
}

@media only screen and (max-width: 769px) {
  .icons-row {
    padding: 0 5em 0 5em;
  }
}

@media only screen and (max-width: 418px) {
  .icons-row {
    padding: 0 2em 0 2em;
  }
}