/* Essentials */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
  outline-style: none;
  outline: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

ul{
  list-style: none;
  padding-inline-start: 0px;
}

/* Tell Old Browsers to Read HTML5 Elements */
header, footer, aside, nav, article {
  display: block;
}

a{
  text-decoration: none;
}

/* Social Sidebar */
.social-wrapper {
  width: 0px;
}

.social {
  z-index: 10;
  position: fixed;
  margin-top: 160px;
  margin-left: -6.5em;
}

.social li{
  transition: 0.5s;
  border-radius: 2px;
  width: 41px;
  margin-top: 10px;
  padding-right: 2px;
  height: 40px;
  position: relative;
}

.social li a{
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}

.social li a:hover{
  color: rgba(255,255,255,0.8)
}

.social li:nth-child(1) a{
  border-radius: 2px;
  background: #4267B2;
}

.social li:nth-child(1) a:hover{
  background: rgba(66, 103, 178, 0.8);
}

.social li:nth-child(2) a{
  border-radius: 2px;
  background: #ff0000;
}

.social li:nth-child(3) a{
  border-radius: 2px;
  background: #0e76a8;
}

.social li:nth-child(2) a:hover {
  background: rgba(255, 0, 0, 0.8);
}

.social li:nth-child(3) a:hover {
  background: rgb(14, 118, 168, 0.8);
}

.social li a i{
  position: absolute;
  top: 6px;
  left: 4px;
}

.social li:nth-child(1) a i{
  padding-left: 2.5px;
  padding-top: 1.5px;
  font-size: 25.5px;
}

.social li:nth-child(2) a i{
  font-size: 24.5px;
  padding-top: 2px;
  padding-left: 1.2px;
}

.social li:nth-child(3) a i{
  font-size: 27px;
  padding-top: 1px;
  padding-left: 3.5px;
}

/* Social Sidebar Mobile */
@media only screen and (max-width: 1199px) {
  .social {
    position: fixed;
    margin-top: 160px;
    margin-left: -4.5em;
  }
}

@media only screen and (max-width: 769px) {
  .mobileview {
    z-index: 10;
  }

  .social-wrapper {
    width: 100%;
  }

  .social {
    margin-top: 0;
    position: fixed;
    z-index: 10000;
  }

  .social-list {
    margin-top: 4.5em;
    margin-left: 15em;
  }

  .social-list li {
    float: left;
  }
}

@media only screen and (max-width: 418px) {
  .social-list {
    margin-top: 6.5em;
    margin-left: 11em;
  }
}
/* Social Sidebar Mobile End */