/* CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}

.container {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
}

.width-100p{
    width: 100%;
}

/* Tell Old Browsers to Read HTML5 Elements */
header, footer, aside, nav, article {
    display: block;
}

/* Essentials */
p{
    font-size: 1.3em;
}

a{
    text-decoration: none;
}

body {
    background-color: #F9F9F9;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    z-index: 10;
}

.columns-wrapper {
    width: 1100px;
    margin: 0 auto;
    z-index: 10;
}

.blurb-wrapper {
    width: 1100px;
    margin: 0 auto;
    z-index: 10;
}

/* Header */
nav {
    padding: 0px 20px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-one {
    z-index: 1000;
    position: fixed;
    background-color: white !important;
    height: 60px;
    width: 100%;
    padding-left: 40px;
}

.left > div + div {
    margin-left: 15px;
}

.left > div:hover, .right > div:hover {
    color: #00A0DD;
    cursor: pointer;
    /* IE Support */
    cursor: hand;
}

a{
    font-size: 13px;
    color: black;
    margin-left: 4px;
}

a:hover {
    color: #00A0DD;
}

span {
    font-size: 13px;
    margin-left: 5px;
    letter-spacing: 1px;
}

.empty {
    padding-right: 3px;
    color:black;
    cursor: default;
}

.divider{
    padding-left: 15px;
    color:black;
    cursor: default;
}

/* Navbar */
.topnav {
    margin-top: 55px;
    margin-left: -20px;
    padding-left: 40px;
    padding-top: 13px;
    height: 11.5vh;
    overflow: hidden;
    z-index: 1;
}

.topnav a {
    float: right;
    display: flex;
    justify-content: space-around;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 40px;
    margin-right: 7px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1.4px;
}
  
.topnav a:hover, a:active, a.active {
    color: lightgrey;
}

.normal {
    position: relative;
    display: none;
    float: left;
    width: 25%;
    max-width: 25%;
    height: 82%;
    cursor: pointer;
    /* IE Support */
    cursor: hand;
}

img.active {
    position: absolute;
    display: flex;
    float: left;
    width: 25%;
    max-width: 25%;
    height: 82%;
    cursor: pointer;
    /* IE Support */
    cursor: hand;
}

.navbar {
    background-color: transparent;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 5px rgba(0 0 0 /10%);
}

/* Social Sidebar Widget */
.social-wrapper{
    width: 100em;
    overflow: hidden;
}

.social {
    z-index: 10;
    position: fixed;
    width: 50%;
    margin-top: 160px;
}

.social li{
    transition: 0.5s;
    border-radius: 2px;
    width: 41px;
    margin-top: 10px;
    padding-right: 4px;
    height: 40px;
    position: relative;
}

.social li a{
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
}

.social li a:hover{
    color: rgba(255,255,255,0.8)
}

.social li:nth-child(1) a{
    border-radius: 2px;
    background: #4267B2;
}

.social li:nth-child(1) a:hover{
    background: rgba(66, 103, 178, 0.8);
}

.social li:nth-child(2) a{
    border-radius: 2px;
    background: #ff0000;
}

.social li:nth-child(2) a:hover {
    background: rgba(255, 0, 0, 0.8);
}

.social li a i{
    position: absolute;
    top: 6px;
    left: 7px;
}

.social li:nth-child(1) a i{
    padding-left: 2.5px;
    padding-top: 1.5px;
    font-size: 25.5px;
}

.social li:nth-child(2) a i{
    font-size: 24.5px;
    padding-top: 2px;
    padding-left: 1.2px;
}

/* Main Feature */
.home_feature {
    display: grid;
    place-items: center;
    background: url(../img/img-home/20191127190639-shutterstock-431848417-crop.jpeg);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.6);
    background-position: 15% 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    display: flex;
    margin: auto;
    width: 100%;
}

.feature_text h1 {
    margin-top: 70px;
}

.feature_text h1, .feature_text p {
    color: white;
    font-weight: 500;
    text-align: center;
}

.feature_text h1 {
    font-size: 35px;
}

.feature_text p {
    line-height: 29px;
    margin-top: 15px;
    font-size: 20px;
}

.home_feature button {
    letter-spacing: 0.5px;
    margin-top: 30px;
    left: 50%;
    margin-left: -5%;
}

.cta_select#go {
    position: absolute;
    transition: all 0.1s linear 0s;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    background: transparent;
    border-radius: 3px;
    font-size: 17px;
    color: white;
    width: 150px;
    height: 42px;
    cursor: pointer;
    /* IE Support */
    cursor: hand;
    z-index: 10;
}

.cta_select#go:hover {
    transition: all 0.1s linear 0s;
    background-color: #00A0DD;
    border-radius: 3px;
    color: white;
    z-index: 10;
}

/* Video Popup */
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 10000;
    display: none;
}

.popup .video_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FFFFFF;
    width: 750px;
    height: 450px;
    z-index: 102;
    text-align: center;
    padding: 36px;
    box-sizing: border-box;
}

.popup .video_content a {
    font-size: 17px;
    color: #4fcdff;
}

.popup .close_btn {
    cursor: pointer;
    /* IE Support */
    cursor: hand;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: white;
    color: #222222;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .video_content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup.active .video_content p {
    font-size: 16px;
}

/* Service Examples Blurb */
.blurb-columns {
    margin-top: 100px;
}

article.services_blurb {
    clear: both;
    float: left;
    padding-right: 16px;
    width: 630px;
    margin: 5.5px 0px;
}

.paylo_logo {
    float: left;
    margin: 0 10px 0 0;
    width: 50%;
}

article.services_blurb h1 {
    font-size: 26px;
    color: #00A0DD;
    margin: 4px 0;
}

article.services_blurb p {
    margin: 7px 50px 0px 0px;
    font-size: 18px;
    line-height: 23px;
    color: rgb(88, 88, 88);
    text-align: justify;
}

article.paylo_testimony {
    float: right;
    width: 300px;
    margin: 0px 70px;
}

/* Paylo Company Testimony */
.testimony_wrapper {
    border: 1px solid #cddbe4;
    background-color: #FFFFFF;
    width: 368px;
    height: 257px;
}

p.testimony {
    text-align: center;
    background: #FFFFFF;
    color: #1891c0c9;
    font-style: italic;
    font-size: 18px;
    height: 10px;
    line-height: 22px;
    border-radius: 5px;
    padding: 30px 35px;
}

p.testimony_name {
    background: #15759bc9;
    margin-top: 170px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

/* Services Section */
.service-columns {
    padding: 0 2em;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

.section-heading {
    margin-top: 100px;
    font-size: 26px;
    color: rgb(88, 88, 88);
    padding-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
    cursor: pointer;
    /* IE Support */
    cursor: hand;
    transition: 0.5s;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(40, 40, 40);
    margin: 1em 0;
}

.img-wrapper {
    position: relative;
    margin: auto;
    height: 35vh;
    padding-top: 19px;
    width: 100%;
}

.cre-img-wrapper {
    position: relative;
    margin: auto;
    height: 35vh;
    padding-top: 60px;
    width: 100%;
}

.lane-img-wrapper {
    position: relative;
    margin: auto;
    height: 35vh;
    padding-top: 62px;
    width: 80%;
}

.card img {
    width: 80%;
    transition: 0.5s;
}

.card p {
    color: rgb(88, 88, 88);
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.card:hover {
    background-position: 0 100%;
}

.card:hover h3 {
    color: #ffffff;
}

.card:hover p {
    color: #f0f0f0;
}

/* Equipment Section */
.equipment-options {
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    padding-left: 8em;
}

.section-two-heading {
    margin-top: 80px;
    font-size: 25px;
    color: rgb(88, 88, 88);
    padding-bottom: 50px;
    margin-left: -4.5em;
}

.equipment-column{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.equipment-card {
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
    background-color: white;
    width: 80%;
    height: 100%;
}

.header-img {
    margin: auto;
    height: 22vh;
    width: 100%;
}

.equipment-card img {
    width: 100%;
    transition: 0.5s;
}

.equipment-card h3 {
    margin-top: 150px;
}

.equipment-card p {
    padding: 0 1em 3em 1em;
    color: rgb(88, 88, 88);
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

/* Responsive for Desktop */
@media only screen and (min-width: 1600px) {
    .columns-wrapper {
        width: 1200px;
    }

    .blurb-wrapper {
        width: 1150px;
    }

    .normal {
        margin-top: 29px;
        width: 25%;
        height: 70%;
    }

    img.active{
        margin-top: 29px;
        width: 25%;
        height: 65%;
        max-height: 65%;
    }

    .topnav {
        margin-top: 25px;
        margin-left: 100px;
    }

    .topnav a {
        margin-top: 40px;
        line-height: 10px;
        font-size: 16px;
    }

    article.services_blurb h1 {
        font-size: 25px;
    }

    article.services_blurb p {
        font-size: 21px;
        margin: 7px 40px 0px 0px;
    }

    .testimony_wrapper {
        height: 280px;
    }

    p.testimony_name {
        margin-top: 190px;
    }

    p.testimony {
        font-size: 20px;
    }

    .card p {
        font-size: 17px;
    }

    .equipment-card p {
        font-size: 17px;
    }
}